
.raleway-uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.head-page .link-head {
    color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
}
    .contacts .my-contacts {
        color: #434455;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
/* Секция 1 */
.section1-background {
background-color: #2E2F42;
}
.title {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #FFFFFF;
}
.button-blue {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        background-color: #4D5AE5;
        color: #FFFFFF;
        border-color: #4D5AE5;
}
/* Секция 2 */
.section-2-text .title-s2 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #2E2F42;
}
.section-2-text .paragraph-section-2 {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #434455;
}
/* Секция 3 */
.title-2 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #2E2F42;
}
.section-3-text .name-styles {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #2E2F42;
}
.section-3-text .proffesion {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #434455;
}
/* Секция 4 */
.title-3 {
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        color: #2E2F42;
    }
.section-4-text .portfolio-name {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
        color: #2E2F42;
}
.section-4-text .portfolio-class {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #434455;
}
/* Ноги  */
.footer-background {
    background-color: #2E2F42;
}
.footer-text {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: #F4F4FD;
}
        