
.raleway-uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.head-page .link-head {
    color: #2E2F42;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-style: normal;
}
    .contacts .my-contacts {
        color: #434455;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
/* Секция 1 */
.section1-background {
background-color: #2E2F42;
}